body{
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
}
.cont{
    height: 580px;
    background-image: url('img/back2.jpg');
    background-size: cover;
    vertical-align: middle;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-position: 50% 50%;
    background-attachment: fixed;
}
#clr{
    color: rgb(168, 2, 146);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
}
.ico1{
    text-align: center;
    height: 300px;
}
.ico2{
    text-align: center;
    height: 300px;
}
.ico3{
    text-align: center;
    height: 300px;
}
.ico1::before{
    content: "\e900";
    color: black;
    font-family: 'icomoon';
    font-size: 150px;
}
.ico2::before{
    content: "\e903";
    color: black;
    font-family: 'icomoon';
    font-size: 150px;
}
.ico3::before{
    content: "\e97f";
    color: black;
    font-family: 'icomoon';
    font-size: 150px;
}
#forText{
    color: rgb(39, 39, 223);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25pt;
    
}
#forTextP{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
}
.info{
    margin-top: calc(340px/2);
}
#vak{
    font-family: 'Permanent Marker', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fjalla+One|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    line-height: 10px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
}
.atuin-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.atuin-btn:hover:before {
    left: 100%;
}
#myModal{
    border-radius: 10px;
    display: none;
   /* position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: calc(1920px/2.5);
    margin-top: calc(1040px/3);*/
    width: 390px;
    height: 290px;
    /*overflow: auto;*/
    background-color: rgb(255, 255, 255);
    border: 2px solid #888;
}
.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
}